.item-container {
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  font-size: 14px;
  &__header {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item-form {
    width: 700px;
    background-color: #fff;
    margin: 0 auto;
    .error-message {
      color: red;
      margin-bottom: 30px;
    }
    span.musticon {
      background-color: red;
      padding: 2px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      margin-left: 7px;
    }
    span.bettericon {
      background-color: #BFBFBF;
      padding: 2px;
      border-radius: 2px;
      color: #fff;
      font-size: 12px;
      margin-left: 7px;
    }
    label {
      font-weight: bold;
    }
    &__field1 {
      height: 300px;
      border-bottom: 2px solid rgb(245, 245, 245);
      padding: 40px;
      &__imagebox {
        background-color: rgb(245, 245, 245);
        border: 1px dashed rgb(204, 204, 204);
        height: 150px;
        flex-wrap: wrap;
        position: relative;
        .fa-camera {
          position: absolute;
          right: 310px;
          top: 75px;
          font-size: 20px;
        }
        .error-message {
          margin-top: 220px;
        }
        img {
          border-radius: 2px;
          object-fit: cover;
          margin-right: 10px;
        }
      }
    }
    &__field2 {
      border-bottom: 2px solid rgb(245, 245, 245);
      padding: 40px;
      input {  
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: inherit;
        height: 48px;
        margin: 15px 0;
        outline: none;
        padding: 0 16px;    
        width: 620px;
      }
      textarea {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        color: #222;
        font-size: 16px;
        margin: 15px 0;
        outline: none;
        padding: 13px 16px;
        width: 620px;
        height: 154px;
      }
    }
    &__field3, &__field4 {
      border-bottom: 2px solid rgb(245, 245, 245);
      padding: 40px;
      input, select {  
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: inherit;
        height: 48px;
        margin: 15px 0;
        outline: none;
        padding: 0 16px;    
        width: 620px;
      }
    }
    &__field5 {
      padding: 40px;
      input, select {  
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: inherit;
        height: 48px;
        margin: 15px 0;
        outline: none;
        padding: 0 16px;    
        width: 285px;
      }
      .btn {
        margin: 0 auto;
        display: block;
        cursor: pointer;
        background-color: #3CCACE;
        border: none;
        color: #fff;
        font-weight: bold;
       }
      &__box1 {
        border-bottom: 2px solid rgb(245, 245, 245);
        &__pricebox {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__label {
            height: 48px;
          }
          &__input {
            display: flex;
            input {
              text-align: right;
            }
            &__logo {
              padding-top: 28px;
            }
          }
        }
      }
      &__box2 {
        .agreement {
          font-size: 12px;
        }
        p {
          margin: 20px 0;
        }
        a {
          display: block;
          text-align: center;
          font-size: 14px;
          margin: 20px 0;
        }
      }
    }
  }
  &__footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    &__list {
      display: flex;
      li {
        margin-right: 20px;
        font-size: 12px;
      }
    }
  }
}  