.main {
  background-color: #f8f8f8;
  .mainTopimage {
    height: 560px;
    background-image: url(http://furima.tokyo/assets/bg-mainVisual-pict_pc-a1a4be0d864c29338b03d163957f9fd26b20f7c1fa0d05c17b603ec54d249ebe.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0 ;
      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0 ;
        .aBtn{
          margin-right: 10px;
          width: 180px;
        }
        .gBtn{
          width: 180px;
        }
      }
    }
    .picture{
      position: absolute;
      top: 0;
      right: 210;
    }
  }
  .mainReasons {
    padding: 60px 20px;
    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img{
          position: relative;
          margin-bottom: 20px;
          .number{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0 ;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          span {
            color: #3ccace;
          }
        }
        &__comment {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
      #list-right {
        margin: 16px 0 0;
      }
    }
  }
  .mainMiddleImage {
    background-image: url(http://furima.tokyo/assets/bg-topMiddleDl-pict-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__btn{
        display: flex;
        margin: 24px 0 0 0 ;
        .aBtn{
          margin-right: 10px;
          width: 180px;
        }
        .gBtn{
          width: 180px;
        }
      }
    }
  }
  .mainFeature {
    padding: 60px 100px;
    background-color: #fff;
    &__head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: no-wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__comment {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .mainPickcategory {
    padding: 0 0 80px;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .category {
      .categoryHead {
        text-decoration: none;
        &__title {
          text-align: center;
          font-size: 24px;
          color: #3ccace;
          font-weight: bold;
        }
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .categoryList {
          width: 220px;
          height: 270px;
          text-decoration: none;
          &__img {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              height: 150px;
              object-fit: cover;
            }
          }
          &__body {
            background-color: #fff;
            color: #333;
            padding: 16px;
            &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            }
            &__data {
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            p {
              font-size: 10px;
              text-align: left;
            }
          }
          &__sold {     
            width: 0;
            height: 0;
            border-top: 50px solid #ea352d ;
            border-right: 50px solid transparent;
            border-bottom: 50px solid transparent;
            border-left: 50px solid #ea352d ;
            position: relative;
            top:-270px;
            &__inner{
              transform: rotate(-45deg);
              font-size: 28px;
              margin:-30px 0px 0px -45px;
              color: #fff;
              letter-spacing: 2px;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .mainPickbrand {
    padding: 0 0 80px;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .category {
      .categoryHead {
        text-decoration: none;
        text-align: center;
        font-size: 24px;
        color: #3ccace;
        font-weight: bold;
      }
      &__lists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        .categoryList {
          width: 220px;
          display: inline-block;
          float: left;
          text-decoration: none;
          position: relative;
          &__img {
            width: 220px;
            height: 150px;
            position: relative;
            overflow: hidden;
            margin: 0;
            z-index: auto;
            img {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              width: 100%;
              z-index: auto;
              height: 150px;
              object-fit: cover;
            }
          }
          &__body {
            background-color: #fff;
            color: #333;
            padding: 16px;
            &__name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
            }
            &__data {
              font-size: 16px;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            p {
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
