.Mypage-main
  .Mypage-main__contents
    %section.Payment
      %h2.Payment__head 支払い情報
      .Payment__inner
        %section.creditcard_section
          .container
            - if @card.present?
              = link_to "カード詳細", card_path(@card.id), method: :get, class: 'Payment__inner__add-btn'
            - else
              = link_to new_card_path, class: 'Payment__inner__add-btn' do
                = icon('far', 'credit-card')
                カードを登録する