.header
  .header-box
    .header-main
      .header-icon
        = image_tag 'logo.png', alt: 'FreeMa-logo', class: 'header--logo__image'
      .header-searchbox
        .header-form
          = text_field_tag :content, '', class: 'header--form__search', placeholder: 'キーワードから探す'
          = button_tag 'Botton', type: 'button', class: 'header--submit__btn' do
            =icon('fas', 'search')
    